<%- include config.ejs %>

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title %></title>
    <link rel="stylesheet" href="<%=Url%>css/bootstrap.min.css">
    <link rel='stylesheet' href='<%=Url%>css/style.css' />
    <link rel='stylesheet' href='<%=Url%>css/fontawesome/css/all.min.css' />
    <link rel="shortcut icon" type="image/x-icon" href="<%= Favicon %>">
    <script src="<%=Url%>js/jquery.min.js"></script>

  </head>
  <body>

    <header id="Header">
      <nav class="navbar navbar-expand-lg navbar-main">
        <div class="container">
          <div class="col-6 col-lg-2">
            <a class="navbar-brand" href="<%=Url%>"><img class="logo-header" width="180" height="50" src="<%= Logotipo_Header %>" alt="<%= NomeEmpresa %>"></a>
          </div>
          <div class="col-6 d-lg-none text-end">
            <button class="navbar-toggler" title="Expandir" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarMain" aria-controls="navbarMain">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
    
          <div class="col-12 col-lg-6">
            <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarMain">
              <div class="offcanvas-header justify-content-end">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <div class="d-lg-none">
                <ul class="navbar-nav navbar-account">
                  <% if(sessao.loggedIn) { %>
                    <li class="nav-item"><a class="nav-link " href="<%=Url%>minha-conta"><i class="fas fa-user me-2"></i>Minha conta</a> </li>
                    <li class="nav-item"><a class="nav-link" href="<%=Url%>logout"><i class="fas fa-left-to-bracket me-2"></i>Sair da conta</a> </li>
                    <% } else { %>
                      <li class="nav-item"><a class="nav-link" href="<%=Url%>login"><i class="fas fa-right-to-bracket me-2"></i>Entrar</a>  </li>
                      <li class="nav-item"><a class="nav-link" href="<%=Url%>cadastrar"><i class="far fa-square-plus me-2"></i>Cadastrar</a> </li>
                  <% } %>
                </ul>
                <hr>
                </div>

                <ul class="navbar-nav justify-content-lg-center align-items-lg-center flex-grow-1 gap-lg-2 w-100">
                  <li class="nav-item"><a class="tm-redirecionamento nav-link" href="<%=Url%>">Início</a></li>
                  <li class="nav-item"><a class="tm-redirecionamento nav-link" href="<%=Url%>sobre">Sobre</a></li>
                  <li class="nav-item"><a class="tm-redirecionamento nav-link" href="<%=Url%>gerenciar-reservas">Minhas Reservas</a></li>
                  <li class="nav-item"><a class="tm-redirecionamento nav-link" href="<%=Url%>gerenciar-espacos">Meus Espaços</a></li>
                </ul>
              </div>
            </div>
          </div>
    
          <div class="d-none d-lg-flex col-lg-4 gap-3 justify-content-end align-itens-center">
            <ul class="navbar-nav navbar-account">
              <% if(sessao.loggedIn) { %>
                <li class="nav-item"><a class="nav-link" href="<%=Url%>minha-conta"><i class="fas fa-user me-2"></i>Minha conta</a> </li>
                <li class="nav-item"><a class="nav-link" href="<%=Url%>logout"><i class="fas fa-left-to-bracket me-2"></i>Sair da conta</a> </li>
                <% } else { %>
                  <li class="nav-item"><a class="nav-link" href="<%=Url%>login"><i class="fas fa-right-to-bracket me-2"></i>Entrar</a>  </li>
                  <li class="nav-item"><a class="nav-link" href="<%=Url%>cadastrar"><i class="far fa-square-plus me-2"></i>Cadastrar</a> </li>
              <% } %>
            </ul>
          </div>
    
        </div>
      </nav>
      
    </header>