<%- include includes/header %>
<main class="container py-5">
  <h1>Minhas reservas:</h1>
  <hr class="linha">
  <div class="row g-4">

    <% if(reservas.length) { reservas.forEach(reserva => { 
      data = reserva.date.toISOString().replace(/T/, '-').replace(/\..+/, '').replace(':', '-').replace(':00', '')
      data_info = data.split("-")
      %>
          <div class="col-12 col-md-6 col-lg-4">
              <div class="card card-home ">
                  <img src="<%=reserva.place.thumbnail_url%>" class="card-img-top" alt="<%=reserva.place.nome%>" title="<%=reserva.place.nome%>">
                  <div class="card-body text-center">
                      <h5 class="card-title"><%=reserva.place.nome%></h5>
                      <ul class="list-unstyled text-card">
                          <li><b>Descrição:</b> <%=reserva.place.description%></li>
                          <li><b>Preço total:</b> R$ <%=(reserva.place.price * reserva.num_pessoas)%>,00</li>
                          <li><b>Numero de pessoas:</b> <%=reserva.num_pessoas%></li>
                          <li><b>Data:</b> <%=data_info[2]%>/<%=data_info[1]%>/<%=data_info[0]%> às <%=data_info[3]%>:<%=data_info[4]%></li>
                      </ul>
                      <a href="<%=Url%>sala/<%=reserva.place.id%>" class="btn btn-sm btn-primary me-2"><i class="fas fa-eye me-2"></i>Visualizar</a>
                      <!-- <a href="<%=Url%>gerenciar/<%=reserva.place.id%>" class="btn btn-sm btn-warning me-2"><i class="fa-solid fa-pen me-2"></i> Editar</a> -->
                      <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#ModalDelete" data-idRes="<%=reserva._id%>" data-NomeEspaco="<%=reserva.place.nome%>" title="Excluir"><i class="fa-solid fa-trash me-2"></i>Cancelar reserva</button>
                  </div>
              </div>
          </div>

     <% })} else { %><div class="col-12 h3">Não há reservas feitas</div> <% } %>
  </div>
</main>

<div class="modal fade" id="ModalDelete" tabindex="-1" aria-labelledby="ModalDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="ModalDeleteLabel">Excluir</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
          <button type="button" class="btn btn-danger" id="cancelarReserva">Sim</button>
        </div>
      </div>
    </div>
  </div>
<script>
var idCli = null;

const ModalDelete = document.getElementById('ModalDelete')
ModalDelete.addEventListener('show.bs.modal', event => {
  const button = event.relatedTarget
  idRes = button.getAttribute('data-idRes')
  const NomeEspaco = button.getAttribute('data-NomeEspaco')
  const modalTitle = ModalDelete.querySelector('.modal-title')
  const modalBodyInput = ModalDelete.querySelector('.modal-body input')
  modalTitle.textContent = `Voce realmente deseja cancelar a reserva feita no "${NomeEspaco}"?`
})

$(document).ready(function() {
    $('#cancelarReserva').click(function() {
      // console.log(idCli);
      $.ajax({
        type: 'POST',
        // dataType: 'json',
        url: '<%=Url%>reserves/cancel/'+idRes,
        async: true,
        // data: "acao=1&id=" + idCli,
        success: function(response) {
          alert("Reserva cancelada com sucesso");
          window.location.reload(true);
          // console.log(response);
        },
        error: function(response) {
          alert("Falha ao cancelar: " + response.responseJSON.error);
          // console.log(response);
        }
      });
      return false;
    });
});
</script>

<%- include includes/footer %>