<%- include includes/header %>
<main class="container py-5">
  <h1>Gerenciar Espaços:</h1>
  <hr class="linha">

  <div class="row g-4">

    <% if(lugares.length) { lugares.forEach(lugar => { %>
          <div class="col-12 col-md-6 col-lg-4 d-flex">
              <div class="card card-home flex-grow-1">
                  <img src="<%=lugar.thumbnail_url%>" class="card-img-top" alt="<%=lugar.nome%>" title="<%=lugar.nome%>">
                  <div class="card-body text-center d-flex flex-column">
                      <h5 class="card-title"><%=lugar.nome%></h5>
                      <ul class="list-unstyled text-card flex-grow-1">
                          <li><b>Descrição:</b> <%=lugar.description%></li>
                          <li><b>Preço:</b> R$ <%=lugar.price%>,00</li>
                      </ul>
                      <div>
                      <a href="<%=Url%>sala/<%=lugar.id%>" class="btn btn-sm btn-primary me-2"><i class="fas fa-eye me-2"></i>Visualizar</a>
                      <a href="<%=Url%>gerenciar/<%=lugar.id%>" class="btn btn-sm btn-warning me-2"><i class="fa-solid fa-pen me-2"></i> Editar</a>
                      <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#ModalDelete" data-idEsp="<%=lugar.id%>" data-NomeEspaco="<%=lugar.nome%>" title="Excluir"><i class="fa-solid fa-trash me-2"></i>Excluir</button>
                      </div>
                  </div>
              </div>
          </div>

    <% })} else { %><div class="col-12 h3">Não há espaços criados</div> <% } %>
  </div>
</main>

<div class="modal fade" id="ModalDelete" tabindex="-1" aria-labelledby="ModalDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="ModalDeleteLabel">Excluir</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-danger" id="excluirEspaco">Excluir</button>
        </div>
      </div>
    </div>
  </div>
<script>
var idCli = null;

const ModalDelete = document.getElementById('ModalDelete')
ModalDelete.addEventListener('show.bs.modal', event => {
  const button = event.relatedTarget
  idEsp = button.getAttribute('data-idEsp')
  const NomeEspaco = button.getAttribute('data-NomeEspaco')
  const modalTitle = ModalDelete.querySelector('.modal-title')
  const modalBodyInput = ModalDelete.querySelector('.modal-body input')
  modalTitle.textContent = `Voce deseja excluir o espaço ${NomeEspaco}?`
})

$(document).ready(function() {
    $('#excluirEspaco').click(function() {
      // console.log(idCli);
      $.ajax({
        type: 'POST',
        // dataType: 'json',
        url: '<%=Url%>removeplace/'+idEsp,
        async: true,
        // data: "acao=1&id=" + idCli,
        success: function(response) {
          alert("Cliente Excluido com sucesso");
          window.location.reload(true);
          // console.log(response);
        },
        error: function(response) {
          alert("Falha ao remover");
          // console.log(response);
        }
      });
      return false;
    });
});
</script>

<%- include includes/footer %>