<%- include includes/header %>
<main class="py-5 px-2">
  <div class="container px-3 px-md-5 py-4 bg-white rounded rounded-3 shadow">
     <h2>Gerenciar Espaço</h2>
     <p class="mb-5">Prencha as informações abaixo</p>

     <div id="FormUpdateEspacoDiv">
         <div id="loader" class="text-center">
             <div class="spinner-border" role="status">
                 <span class="visually-hidden">Carregando...</span>
             </div>
         </div>
 
         <div id="response_notification"></div>
 
         <form id="FormUpdateEspaco" class="row g-3 justify-content-center" enctype="multipart/form-data" method="post" action="#FormUpdateEspacoDiv">
          <div class="col-12">
            <label for="formImage" class="form-label">Status:</label>
            <div class="form-check">
              <label class="form-check-label" for="flexCheckStatus" id="lblEspacoAtivo">Espaço Ativado</label>
              <input class="form-check-input" name='status' type="checkbox" id="flexCheckStatus" <%=(lugar.status) ? 'checked' : ''%>>
            </div>
          </div>
          <div class="col-12">
            <label for="formImage" class="form-label">Imagem*:</label>
            <input class="form-control" type="file" id="formImage" name="thumbnail">
          </div>   
          <div class="col-12">
            <label for="formName" class="form-label">Nome*:</label>     
            <input name="nome" type="text" class="form-control" id="formName" placeholder="Nome*" aria-required="true" value="<%=lugar.nome%>">
          </div> 
          <div class="col-12">
            <label for="formDesc" class="form-label">Descrição curta*:</label>   
            <input name="description" type="text" class="form-control" id="formDesc" placeholder="Descrição*" value="<%=lugar.description%>"  aria-required="true">
          </div> 
          <div class="col-12">
            <label for="formLongDesc" class="form-label">Descrição longa*:</label>   
            <textarea name="descricao_longa" type="text" class="form-control" id="formLongDesc" placeholder="Descrição Longa*" aria-required="true" rows="5"><%=lugar.descricao_longa%></textarea>
          </div> 
          <div class="col-12">
            <label for="formPrice" class="form-label">Preço*:</label>  
            <input name="price" type="number" class="form-control" id="formPrice" placeholder="Preço*" aria-required="true" value="<%=lugar.price%>">
          </div> 
          <div class="col-12">
            <label for="formLocation" class="form-label">Endereço*:</label>  
            <input name="location" type="text" class="form-control" id="formLocation" placeholder="Endereço*" value="<%=lugar.location%>"  aria-required="true">
          </div> 

          <div class="col-12">
            <label for="formDatas" class="form-label">Datas disponiveis*:</label>
            <div class="d-flex flex-wrap gap-5 gap-md-2">
              
              <% 
                count = 0;
                lugar.datas_disponiveis.forEach(datas => {
                if(datas != null) {
              %>
              <div class="col-12 row g-3 linha_data">
                <div class="col-12 col-md-4">
                    <input name="datas_disponiveis[<%=count%>][0]" type="date" class="form-control" id="formDate[<%=count%>][0]" value="<%=datas[0]%>" placeholder="Dia*" required  aria-required="true">
                </div>
                <div class="col-12 col-md-4 d-flex align-items-center gap-2">
                    <input name="datas_disponiveis[<%=count%>][1]" type="number" min="0" max="23" class="form-control" id="formDate[<%=count%>][1]" value="<%=datas[1]%>" placeholder="Hora*" required  aria-required="true">
                    <span>:</span>
                    <input name="datas_disponiveis[<%=count%>][2]" type="number" min="0" max="60" class="form-control" id="formDate[<%=count%>][2]" value="<%=datas[2]%>" placeholder="Minuto*" required  aria-required="true">
                </div>
                <div class="col-12 col-md-2">
                    <input name="datas_disponiveis[<%=count%>][3]" type="number" class="form-control" id="formDate[<%=count%>][3]" placeholder="Vagas*" value="<%=datas[3]%>" required  aria-required="true">
                </div>
                <div class="col-12 col-md-2">
                  <button type="button" title="remover" class="btn removerCampo btn-danger <%=(count <= 0) ? 'd-none' : '' %>">Excluir linha<i class="fas fa-remove ms-2"></i></button>
                </div>
              </div>
              <% 
                count++; }});
              %>
            </div>
          </div>
          <div class="col-12 text-start mt-5 mt-md-3">
              <button type="button" class="btn adicionarCampo btn-success pull-right"><i class="fas fa-plus-circle me-2"></i>Adicionar mais datas</button>
          </div>
          
          <div class="col-12 mt-5">
              <button id="BTEnvia" type="submit" name="BTEnvia" class="btn_formulario d-inline-flex align-items-center gap-2"><i class="fas fa-rotate"></i>Atualizar espaço</button>
          </div>
        </form>
    </div>
  </div>
</main>


<script>
var nrQtdProduto = <%=count%>;
$(function () {
  function removeCampo() {
  $(".removerCampo").click(function () {
      if($("div.linha_data").length > 1){
        $(this).find("input").val("");
        $(this).parent().parent().remove();
        nrQtdProduto--;
      }
    });
  }
 
  $(".adicionarCampo").click(function () {
    novoCampo = $("div.linha_data:first").clone();
    novoCampo.find("input").val("");
    novoCampo.find('input').each(function(k, v) {
      var strName = $(v).attr('name');
      var strId = $(v).attr('id');

      $(this)
        .attr('name', strName.replace('[0]', '['+ nrQtdProduto + ']'))
        .attr('id', strId.replace('[0]', '['+ nrQtdProduto + ']'));

      if ($(this).attr('type') != 'hidden') {
        $(this).val('');
      }

    })
    novoCampo.find('button').removeClass('d-none')
    novoCampo.insertAfter("div.linha_data:last");
    nrQtdProduto++
    removeCampo();
  });

  removeCampo();
});



  function convertFormToJSON(form) {
      const array = $(form).serializeArray(); // Encodes the set of form elements as an array of names and values.
      const json = {};
      $.each(array, function () {
          json[this.name] = this.value || "";
      });
      return json;
  }
  function updateStatus(item) {
    const lblEspacoAtivo = document.getElementById("lblEspacoAtivo");
    const CheckedItem = item.checked;
    lblEspacoAtivo.innerHTML = CheckedItem ? "Espaço Ativado" : "Espaço desativado";
  }

  $(document).ready(function() {
      var ckStatus = document.getElementById('flexCheckStatus')
      updateStatus(ckStatus)

      $('#flexCheckStatus').change(function () {
        updateStatus(this)
      });


      var request;

      $('#FormUpdateEspaco').submit(function (event) {
          // Prevent default posting of form - put here to work in case of errors
          event.preventDefault();

          // Abort any pending request
          if (request) {
                request.abort();
          }

          var $form = $(this);
          var today = new Date();
          var dd = String(today.getDate()).padStart(2, '0');
          var mm = String(today.getMonth() + 1).padStart(2, '0'); // January is 0!
          var yyyy = today.getFullYear();

          today = yyyy + '-' + mm + '-' + dd

          var formData = new FormData(this);
          // console.log(formData);

          $.ajax({
                type: 'POST',
                url: '<%=Url%>places/<%=id_lugar%>',
                // contentType: 'multipart/form-data; boundary=0258866893',
                contentType: false,
                // contentType: 'application/json',
                processData: false,

                data: formData,
                // await: true,
                // dataType: 'json',
                beforeSend: function () {
                    $("#FormUpdateEspaco").css("opacity", 0.6);
                    $('#loader').show();
                },
                success: function(response) {
                    $('#response_notification').html('<div class="alert alert-success alerta-email" role="alert"><i class="fas fa-check-circle me-3"></i>Espaço atualizado com sucesso</div>');
                },
                error: function(response) {
                    $('#response_notification').html('<div class="alert alert-danger" role="alert"><i class="fas fa-exclamation-circle me-3"></i>' + response.responseJSON.error + '</div>');
                    // console.log(response);
                },          
                complete: function () {
                    $('#loader').hide();
                    $("#FormUpdateEspaco").css("opacity", 1);
                    $('.alert').fadeIn('slow');
                }
          });
      });
  });
</script>
<%- include includes/footer %>