<%- include includes/header %>
<main>
<div class="container d-flex align-itens-center justify-content-center py-5">
    <div id="loginbox" class="main-form-login row g-3">
        <div class="text-center col-12 mb-2">
            <img class="img-logo-login" src="<%= Logotipo %>" width="200" height="90" alt="<%= NomeEmpresa %>">
        </div>

        <form id="login-form" class="row g-3 p-0 m-0" role="form" action="<%=Url%>loginsession" method="post">
            <div id="loader" class="text-center" style="display: none;">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Carregando...</span>
                </div>
            </div>
    
            <div id="response_notification"><div id="login-msg" class="alert alert-primary"><i class="fa-solid fa-arrow-right-to-bracket"></i> Faça o Login para continuar.</div></div>

            <div class="col-12">
                <label for="username" class="form-label">Nome do usuário:</label>
                <input type="text" class="form-control" id="username" name="username" required placeholder="Informe seu Usuario">
            </div>

            <div class="col-12">
                <label for="password" class="form-label">Senha:</label>
                <input type="password" class="form-control" id="password" name="password" required placeholder="Informe sua Senha">
            </div>

            <div class="col-12 text-center">
                <button type="submit" class="btn_formulario d-inline-flex align-items-center gap-2"><i class="fas fa-right-to-bracket"></i>Entrar</button>
            </div>

            <div class="col-12 text-center text-login-form mt-4">
                Não tem uma conta? <a href="<%=Url%>cadastrar">Clique Aqui</a> para criar uma.
            </div>

        </form>

    </div>

</div>
</main>

<script>

    function convertFormToJSON(form) {
        const array = $(form).serializeArray(); // Encodes the set of form elements as an array of names and values.
        const json = {};
        $.each(array, function () {
            json[this.name] = this.value || "";
        });
        return json;
    }

     $(document).ready(function() {
          var request;

          $('#login-form').submit(function (event) {
               // Prevent default posting of form - put here to work in case of errors
               event.preventDefault();

               // Abort any pending request
               if (request) {
                    request.abort();
               }

               var $form = $(this);
               const form_data = convertFormToJSON($form);
               console.log(form_data);
               console.log(JSON.stringify(form_data));

               $.ajax({
                    type: 'POST',
                    url: '<%=Url%>loginsession',
                    contentType: 'application/json',

                    data: JSON.stringify(form_data),
                    await: true,
                    dataType: 'json',
                    beforeSend: function () {
                         $("#login-form").css("opacity", 0.6);
                         $('#loader').show();
                         $('#login-msg').hide();
                    },
                    success: function(response) {
                         $('#response_notification').html('<div class="alert alert-success alerta-email" role="alert"><i class="fas fa-check-circle me-3"></i>Login feito com sucesso</div>');
                         console.log(response);
                         window.location.href = "<%=Url%>minha-conta"
                    },
                    error: function(response) {
                         $('#response_notification').html('<div class="alert alert-danger" role="alert"><i class="fas fa-exclamation-circle me-3"></i>' + response.responseJSON.error + '</div>');
                         console.log(response);
                    },          
                    complete: function () {
                         $('#loader').hide();
                         $("#login-form").css("opacity", 1);
                         $('.alert').fadeIn('slow');
                    }
               });
          });
     });

</script>

<%- include includes/footer %>