<%- include includes/header %>
<main class="container py-5">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <!-- <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button> -->
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="<%=lugares.thumbnail_url%>" class="d-block w-100 object-fit-cover" style="height: 600px;" alt="...">
          </div>
          <!-- <div class="carousel-item">
            <img src="<%=Url%>files/escritoriio-1714518879441.jpg" class="d-block w-100 object-fit-cover" style="height: 600px;" alt="...">
          </div> -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div class="row py-5">
        <div class="col-12 col-md-8">
            <h1><%=lugares.nome%></h1>
            <p>
              <%=lugares.descricao_longa%>
            </p>

        </div>

        <div class="col-12 col-md-4 text-end">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#ReservarEspModal">Reservar Espaço</button>
        </div>

      </div>
</main>



<div class="modal fade" id="ReservarEspModal" tabindex="-1" aria-labelledby="ReservarEspModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="ReservarEspModalLabel">Reservar espaço</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row g-3" id="reservarEspaco" method="post">
          <div class="col-12">
            <label for="numPessoas" class="form-label">Numero total de pessoas</label>
            <input type="number" class="form-control" name="num_pessoas" id="numPessoas" placeholder="Numero total de pessoas*" required>
          </div>

          <div class="col-12">
            <label for="inputState" class="form-label">Escolha a Data</label>
            <select id="inputState" name="reserva" class="form-select">
            <% for(var i = 0; i < lugares.datas_disponiveis.length; i++) { 
              datas = lugares.datas_disponiveis[i]

              if(datas[0] != null && datas[3] > 0) { %>
              <option value="<%=datas%>,<%=i%>">Dia: <%=datas[0]%> | Horario: <%=datas[1]%>:<%=(datas[2] < 10) ? "0" : "" %><%=datas[2]%> | Vagas <%=datas[3]%></option>
            <% }}; %>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="reservarSubmit">Reservar</button>
      </div>
    </div>
  </div>
</div>


<script>

function convertFormToJSON(form) {
    const array = $(form).serializeArray(); // Encodes the set of form elements as an array of names and values.
    const json = {};
    $.each(array, function () {
        json[this.name] = this.value || "";
    });
    return json;
}
$(document).ready(function() {
  var request;
  $('#reservarSubmit').click(function() {
    $('#reservarEspaco').submit(); 
  });

  $('#reservarEspaco').submit(function(event) {
      // console.log(idUsu);
      // var dados = $('#reservarEspaco').serialize();
      // console.log(dados);
      // var form = document.getElementById("reservarEspaco");

      event.preventDefault();

      // Abort any pending request
      if (request) {
          request.abort();
      }

      var $form = $(this);
      const form_data = convertFormToJSON($form);
      console.log(form_data);
      console.log(JSON.stringify(form_data));

      $.ajax({
        type: 'POST',
        url: '<%=Url%>places/<%=lugares.id%>/reserve',
        contentType: 'application/json',
        data: JSON.stringify(form_data),
        await: true,
        dataType: 'json',
        success: function(response) {
          alert("Reserva feita com sucesso");
          window.location.reload(true);
          console.log(response);
        },
        error: function(response) {
          alert("Falha ao fazer a reserva: " + response.responseJSON.error);
          console.log(response);
        }
      });
      return false;
    });
});
</script>

<%- include includes/footer %>