<%- include includes/header %>
<main class="container mt-5 pb-5 d-flex flex-wrap">
  <div class="bg-white rounded rounded-3 shadow col-12 col-xl-8 order-2 order-lg-1 mt-5 mt-lg-0">
    <h1 class="text-center pt-4">
      <%=lugares.nome%>
    </h1>

    <div class="col-12 px-3 px-lg-4 px-md-3 mb-md-5 pt-3">
      <div id="SliderEspaco" class="carousel slide mb-3" data-bs-ride="carousel">
        <div class="carousel-inner rounded rounded-3 shadow">
          <div class="carousel-item active">
            <a href="#" title="<%=lugares.nome%>" data-bs-toggle="modal"
              data-bs-target="#ModalImagens" ping="<%=lugares.thumbnail_url%>">
              <img width="1000" height="600" loading="lazy" class="d-block img-fluid"
                src="<%=lugares.thumbnail_url%>" alt="<%=lugares.nome%>" title="<%=lugares.nome%>">
            </a>
          </div>
        </div>
        <!-- <button class="carousel-control-prev" type="button" data-bs-target="#SliderEspaco" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#SliderEspaco" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Proximo</span>
        </button> -->
      </div>
    </div>


    <div class="col-12 text-justify px-3 px-lg-4 px-md-3 my-4">
      <%=lugares.descricao_longa%>
    </div>

  </div>
  <div class="col-12 col-xl-4 ps-xl-5 d-flex flex-wrap order-1 order-lg-2">

    <div class="caixa-lateral container bg-white rounded rounded-3 shadow p-4 col-12">
      <p class="h5 mb-4 text-center">Reservar: <%=lugares.nome%></p>
      <form class="row g-3 form-reservar" id="reservarEspaco" method="post">
        <div class="col-12">
          <label class="form-label"><b>Data:</b> <span id="itemData">-</span></label>
          <label class="form-label"><b>Preço:</b> <span id="itemPreco">R$ <%=lugares.price%>,00</span></label>
          <label class="form-label"><b>Vagas Restantes:</b> <span id="itemVagas">-</span></label>
        </div>

        <div class="col-12">
          <label for="numPessoas" class="form-label">Número total de pessoas:</label>
          <input type="number" min="1" max="100" value="1" class="form-control" name="num_pessoas" id="numPessoas" placeholder="Numero total de pessoas*" required>
        </div>

        <div class="col-12">
          <label for="inputState" class="form-label">Escolha a data e hora:</label>
          <select id="inputState" name="reserva" class="form-select">
            <% for(var i=0; i < lugares.datas_disponiveis.length; i++) { 
              datas=lugares.datas_disponiveis[i]
              separa_data = datas[0].split('-')

              if(datas[0] !=null && datas[3]> 0) { %>
              <option value="<%=datas%>,<%=i%>">Dia: <%=separa_data[2]%>/<%=separa_data[1]%>/<%=separa_data[0]%> às <%=datas[1]%>:<%=(datas[2] < 10) ? "0" : "" %><%=datas[2]%> | Vagas Restantes: <%=datas[3]%></option>
            <% }}; %>
          </select>
        </div>
        <div class="col-12 mt-4">
          <button type="button" class="btn btn-primary" id="reservarButton" data-NomeEspaco="<%=lugares.nome%>"  data-bs-toggle="modal" data-bs-target="#ModalConfirm" >Efetuar reserva</button>
        </div>
      </form>
    </div>
  </div>
</main>


	<!--[END CONTEINER]  -->

<div class="modal fade modal-lightbox" id="ModalImagens" tabindex="-1" aria-labelledby="ModalImagens" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content bg-transparent border-0">
      <div class="modal-body text-end">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <img width="1000" height="600" loading="lazy" class="img-fluid rounded rounded-2" src="<%=lugares.thumbnail_url%>" title="<%=lugares.nome%>" alt="<%=lugares.nome%>">
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="ModalConfirm" tabindex="-1" aria-labelledby="ModalConfirmLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="ModalConfirmLabel">Confimrar</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="reservarSubmit">Reservar</button>
      </div>
    </div>
  </div>
</div>

<!-- Lightbox -->
<script>
  const ModalImagens = document.getElementById('ModalImagens')
  ModalImagens.addEventListener('show.bs.modal', event => {
    const button = event.relatedTarget
    const recipient = button.getAttribute('ping')
    const modalBodyImg = ModalImagens.querySelector('.modal-body img')

    modalBodyImg.src = recipient
  })

  const ModalConfirm = document.getElementById('ModalConfirm')
  ModalConfirm.addEventListener('show.bs.modal', event => {
    const button = event.relatedTarget
    const NomeEspaco = button.getAttribute('data-NomeEspaco')
    var SelectValue = document.getElementById("inputState").value
    var informacoes = SelectValue.split(',')
    var data = informacoes[0].split('-');
    var data_completa = data[2] + "/" + data[1] + "/" + data[0];


    var NumeroTotal = document.getElementById("numPessoas").value
    if(NumeroTotal < 1) NumeroTotal = 1;

    var Preco = <%=lugares.price%> * NumeroTotal;

    const modalTitle = ModalConfirm.querySelector('.modal-title')
    const modalBody = ModalConfirm.querySelector('.modal-body')

    modalBody.innerHTML = '<ul class="list-unstyled modal-reservar-info">\
      <li><b>Nome:</b> ' + NomeEspaco + '</li> \
      <li><b>Número total de Pessoas:</b> ' + NumeroTotal + '</li> \
      <li><b>Data:</b> ' + data_completa + ' às ' + informacoes[1] + ':' + ((informacoes[2] < 10) ? ("0"+informacoes[2]):informacoes[2]) +' </li> \
      <li><b>Preço:</b> R$ ' + Preco + ',00</li> \
      <li><b>Vagas restantes:</b> ' + informacoes[3] + '</li></ul>';


    modalTitle.textContent = `Você deseja realmente efetuar a reserva?`
  })

  function convertFormToJSON(form) {
    const array = $(form).serializeArray(); // Encodes the set of form elements as an array of names and values.
    const json = {};
    $.each(array, function () {
      json[this.name] = this.value || "";
    });
    return json;
  }
  function updateValues(item) {
    const itemData = document.getElementById("itemData");
    const itemVagas = document.getElementById("itemVagas");
    var informacoes = item.value.split(',');
    var data = informacoes[0].split('-');
    var data_completa = data[2] + "/" + data[1] + "/" + data[0];

    itemData.innerHTML = data_completa + ' às ' + informacoes[1] + ':' + ((informacoes[2] < 10) ? ("0"+informacoes[2]):informacoes[2]) ;
    itemVagas.innerHTML = informacoes[3] ;
  }
  function updatePrices(item) {
    const itemPreco = document.getElementById("itemPreco");
    const NumeroTotal = item.value;
    var Preco = <%=lugares.price%> * NumeroTotal;
    if(NumeroTotal < 1) NumeroTotal = 1;
    itemPreco.innerHTML = "R$ " + Preco + ",00";
  }
  $(document).ready(function () {
    const inputState = document.getElementById("inputState");
    updateValues(inputState)
    const numPessoas = document.getElementById("numPessoas");
    updatePrices(numPessoas)

    $('#inputState').change(function () {
      updateValues(this)
    });

    $('#numPessoas').change(function () {
      updatePrices(this)
    });
    var request;
    $('#reservarSubmit').click(function () {
      $('#reservarEspaco').submit();
    });

    $('#reservarEspaco').submit(function (event) {
      // console.log(idUsu);
      // var dados = $('#reservarEspaco').serialize();
      // console.log(dados);
      // var form = document.getElementById("reservarEspaco");

      event.preventDefault();

      // Abort any pending request
      if (request) {
        request.abort();
      }

      var $form = $(this);
      const form_data = convertFormToJSON($form);
      // console.log(form_data);
      // console.log(JSON.stringify(form_data));

      $.ajax({
        type: 'POST',
        url: '<%=Url%>places/<%=lugares.id%>/reserve',
        contentType: 'application/json',
        data: JSON.stringify(form_data),
        await: true,
        dataType: 'json',
        success: function (response) {
          alert("Reserva feita com sucesso");
          window.location.reload(true);
          // console.log(response);
        },

        error: function (response) {
          alert("Falha ao fazer a reserva: " + response.responseJSON.error);
          // console.log(response);
          <% if(!sessao.loggedIn) { %> window.location.href = "<%=Url%>login"; <% } %>
        }
      });
      return false;
    });
  });
</script>
<%- include includes/footer %>