<%- include ../includes/header %>

<div class="container py-5">
    <div class="row g-5">
        <div class="col-12 col-md-5">

            <div id='calendar'></div>
        </div>
        <div class="col-12 col-md-7 d-flex flex-column gap-3 lista-reservas">

            <% lugares.forEach(lugar => { %>
                <div class="row gx-5 reservar-local mx-md-1">
                    <div class="col-12 col-md-4 d-flex align-items-center"><img width="180" height="180" src="<%=lugar.thumbnail_url%>" class="imagem-local" title="<%=lugar.nome%>" alt="<%=lugar.nome%>" style="object-fit: cover;object-position: center;"></div>
                    <div class="col-12 col-md-8">
                        <p class="h1"><%=lugar.nome%></p>
                        <p><%=lugar.description%></p>
                        <p class="mb-0">Horários disponíveis</p>
                        <form method="post" action="#" id="id_espaco_<%=lugar.id%>">

                            <!-- Inicia loop horarios (A Fazer) -->
                            <a href="#" class="btn btn-outline-primary">Ver detalhes</a>
                            
                            <!-- Encerra loop horarios (A Fazer) -->

                            
                        </form>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</div>

<%- include ../includes/footer %>